<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>CodexMarcus</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    </head>
    <body>
        <h1>Codex of a Full Stack Developer</h1>
        <nav>
            <ul>
                <a class="current, button" href="{% url 'blog_home' %}">Home</a>
                <a class="current, button" href="{% url 'blog_index' %}">Posts</a>
                <a class="current, button" href="{% url 'project_index' %}">Projects</a>
            </ul>
        </nav>
        {% block page_title %}
            <!--Content-->
        {% endblock page_title %} 
        {% block page_content %}
            <!--Content-->
        {%endblock page_content %}
    </body>
</html>
